*{
	margin: 0;
	padding: 0;
	font-family: 'Caveat', cursive;
	font-weight: 600;
}

html {
	scroll-behavior: smooth;
}

/* text */

h1{
	font-size: 88px;
	font-weight: bold;
	color: #fff7f0;
	border-bottom: 3px solid #ffeee1;
	border-radius: 3px;
}

h3{
	color: #497925;
	font-size: 44px;
	font-weight: bold;
}
h4{
	color: #fff7f0;
	margin-top: 5px;
	font-size: 44px;
}
p{
	color: #497925;
	font-size: 18px;
}
.inner{
	height: 100%;
	width: 90%;
	margin: 0 auto;
}
/* width */
::-webkit-scrollbar {
	width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
	background: #d2d1cf;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: #c7b7aa;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #d9c9aa;
}
/* header styles */

.header{
	height: 800px;
	background-image: url(Main.jpg);
	background-size: cover;
	background-attachment: fixed;
}

.header .inner{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.flex{
	display: flex;
	align-items: center;
	justify-content: flex-end;
	gap: 30px;
}

.flex_between{
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.flex_between .logo{
	height: 80px;
	margin: 20px;
	border-radius: 10px;
}

.sticky_menu .flex a{
	cursor: pointer;
	font-size: 26px;
	animation-name: spin-border;
	animation-timing-function: ease-in-out;
	animation-duration: 1s;
	animation-fill-mode: forwards;
	color: #fff7f0;
}

.sticky_menu .flex a:hover{
	color: #ffdec3;
}

@keyframes spin-border{
	0% {border-bottom: 1px solid;}
	100% {border-bottom: 3px solid; border-radius: 3px; }
}



.buttons_block{
	display: flex;
	justify-content: space-between;
	margin: 10px 0;
}

/* content styles */
.content{
	background: #fff6ee;
}

.content .flex{
	padding: 30px 0;
	justify-content: space-between;
	gap: 15%;
}

.content .flex p{
	font-size: 26px;
	padding: 20px 0;
}

.content img{
	width: 45%;
	border-radius: 10px;
}
/*footer styles*/
.footer{
	height: 700px;
	padding-top: 100px;
	background-image: url(footer.jpg);
	-webkit-background-size: cover;
	background-size: cover;
	background-attachment: fixed;
}
.footer .inner{
	height: auto;
}


.footer .flex{
	justify-content: flex-start;
	padding: 50px 0;
}

.amazon{
	display: block;
	border-radius: 20px;
	background-color: #fff6ee;
	height: 50px;
	margin-top: 5px;
}

.amazon img{
	height: 60px;
}

.amazon:hover{
	background-color: #fff;
}