*{
	margin: 0;
	padding: 0;
	font-family: 'Caveat', cursive;
	font-weight: 600;
}

::selection{
	color: #497925;
	background-color: #d9c9aa;
}

html {
	scroll-behavior: smooth;
}

/* text */

h1{
	font-size: 88px;
	font-weight: bold;
	color: #fff7f0;
	border-bottom: 3px solid #fff7f0;
	text-shadow:
			-0   -1px 1px #497925,
			0   -1px 1px #497925,
			-0    1px 1px #497925,
			0    1px 1px #497925,
			-1px -0   1px #497925,
			1px -0   1px #497925,
			-1px  0   1px #497925,
			1px  0   1px #497925,
			-1px -1px 1px #497925,
			1px -1px 1px #497925,
			-1px  1px 1px #497925,
			1px  1px 1px #497925,
			-1px -1px 1px #497925,
			1px -1px 1px #497925,
			-1px  1px 1px #497925,
			1px  1px 1px #497925;
	border-radius: 3px;
}

h3{
	color: #497925;
	font-size: 44px;
	font-weight: bold;
}
h4{
	color: #fff7f0;
	margin-top: 5px;
	font-size: 44px;
}
p{
	color: #497925;
	font-size: 18px;
}
.inner{
	height: 100%;
	width: 90%;
	margin: 0 auto;
}
/* width */
::-webkit-scrollbar {
	width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
	background: #d2d1cf;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: #c7b7aa;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #d9c9aa;
}
/* header styles */

.header{
	height: 1000px;
	background-image: url(Main.jpg);
	background-size: cover;
	background-attachment: fixed;
}

.header .inner{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.flex{
	display: flex;
	align-items: center;
	justify-content: flex-end;
	gap: 30px;
}

.flex_around{
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.sticky_menu .flex_around a{
	cursor: pointer;
	font-size: 26px;
	animation-name: spin-border;
	animation-timing-function: ease-in-out;
	animation-duration: 1s;
	animation-fill-mode: forwards;
	color: #fff7f0;
	transition: .3s;
}

.sticky_menu .flex_around a:hover{
	color: #ffdec3;
}

.header h4{
	width: 75%;
	text-align: center;
}

@keyframes spin-border{
	0% {border-bottom: 1px solid;}
	100% {border-bottom: 3px solid; border-radius: 3px; }
}

/* content styles */
.content{
	background: #fff6ee;
	padding: 20px 0;
}

.content .flex{
	padding: 30px 0;
	justify-content: space-between;
	gap: 15%;
}

.content .flex p{
	font-size: 26px;
	padding: 20px 0;
}

.content img{
	width: 45%;
	border-radius: 10px;
}
/*footer styles*/
.footer{
	height: 700px;
	padding-top: 100px;
	background-image: url(footer-1.jpg);
	-webkit-background-size: cover;
	background-size: cover;
	background-attachment: fixed;
}
.footer .inner{
	height: auto;
}

.footer .flex{
	justify-content: flex-start;
	padding: 50px 0;
}

.amazon{
	display: block;
	padding: 5px 10px;
	border-radius: 4px;
	background-color: #fff;
	height: 40px;
	margin-top: 5px;
	transition: 1s;
	border: 2px solid #d0d0d0;
}

.amazon img{
	height: 50px;
}

.amazon:hover{
	border-radius: 16px;
	background-color: rgba(255, 255, 255, 0.75);
}

.icons{
	margin-top: 10px;
	display: flex;
	gap: 30px;
}

.icons div{
	padding: 3px 2px;
	border-radius: 4px;
	transition: 1s;
}

.icons a{
	height: 30px;
	width: 30px;
	display: block;
}

.icons div:hover{
	border-radius: 10px;
	opacity: 0.75;
}

.icon-youtube{
	padding: 5px!important;
	background-color: #FF0000;
}

.icon-youtube a{
	background: url(icon_youtube.svg);
}

.icon-facebook{
	background-color: #4267B2;
}

.icon-facebook a{
	background: url(icon_fb.svg);
}

.icon-pinterest{
	background-color: #E60023;
}

.icon-pinterest a{
	background: url(icon_pinterest.svg);
}

.mail a{
	border-radius: 4px;
	padding: 0 5px;
	font-size: 44px;
	color: #497925;
	background-color: #fff6ee;
	margin-top: 5px;
	transition: 1s;
}


.mail a:hover{
	border-radius: 10px;
	color: rgba(73, 121, 37, 0.75);
}

.buy-button{
	position: fixed;
	border-radius: 100%;
	height: 55px;
	width: 55px;
	background-color: #fff6ee;
	right: 10px;
	bottom: 10px;
	padding: 10px;
	transition: .3s;
	cursor: pointer;
	border: 3px solid #497925;
}

.buy-button:hover{
	background-color: #ffdec3;
}

.buy-button img{
	width: 55px;
	height: 55px;
}

.close-button{
	position: absolute;
	top: 5%;
	right: 5%;
	color: #497925;
	font-size: 80px;
	cursor: pointer;
	transition: .3s;
}

.close-button:hover{
	color: rgba(73, 121, 37, 0.8);
}

.close-button:hover ~ .amazon{
	background-color: #f8bf96;
}

.buy-modal{
	display: flex;
	transition: .7s;
	border-radius: 10px;
	background-color: #fff6ee;
	height: 80%;
	width: 80%;
	position: fixed;
	left: 10%;
	top: 10%;
	gap: 20px;
	align-items: center;
	justify-content: center;
	border: 3px solid #497925;
}

.all-rights{
	background-color: #fff6ee;
}

.contacts-block{
	border-bottom: 2px solid black;
    background-color: #fff6ee;
    padding-top: 14px;
    padding-bottom: 14px;
    justify-content: flex-start;
    font-size: 22px;
}

@media screen and (max-width: 980px) {
	.header{
		height: 1250px;
	}
	.header, .footer{
		background-attachment: inherit;
	}
	.sticky_menu{
		display: none;
	}
	h1{
		border-bottom-width: 6px;
		font-size: 116px;
	}
	h4{
		font-size: 55px;
	}
	.all-rights{
		font-size: 24px;
	}
	.header h4{
		width: 98%;
	}
	.content h3{
		font-size: 75px;
	}
	.content .flex p{
		font-size: 45px;
	}
	.content .flex{
		flex-direction: column;
	}
	.content .flex:nth-child(4n){
		flex-direction: column-reverse;
	}
	.content .flex img{
		width: 100%;
	}
	.buy-modal{
		padding: 2%;
		left: 8%;
		height: max(20%, 300px);
		top: 40%;
	}
	.buy-modal h3{
		font-size: 55px;
	}
	.buy-button, .buy-button img{
		width: 75px;
		height: 75px;
	}
	.close-button{
		top: 0;
	}
	.footer .inner{
		width: 96%;
	}
	.footer .flex{
		gap: 20px;
	}
	h1, .footer h4{
		text-shadow:
				-0   -3px 1px #497925,
				0   -3px 1px #497925,
				-0    3px 1px #497925,
				0    3px 1px #497925,
				-3px -0   1px #497925,
				3px -0   1px #497925,
				-3px  0   1px #497925,
				3px  0   1px #497925,
				-1px -3px 1px #497925,
				1px -3px 1px #497925,
				-1px  3px 1px #497925,
				1px  3px 1px #497925,
				-3px -1px 1px #497925,
				3px -1px 1px #497925,
				-3px  1px 1px #497925,
				3px  1px 1px #497925,
				-2px -3px 1px #497925,
				2px -3px 1px #497925,
				-2px  3px 1px #497925,
				2px  3px 1px #497925,
				-3px -2px 1px #497925,
				3px -2px 1px #497925,
				-3px  2px 1px #497925,
				3px  2px 1px #497925,
				-3px -3px 1px #497925,
				3px -3px 1px #497925,
				-3px  3px 1px #497925,
				3px  3px 1px #497925,
				-3px -3px 1px #497925,
				3px -3px 1px #497925,
				-3px  3px 1px #497925,
				3px  3px 1px #497925;
	}
	.footer h4{
		font-size: 51px;
		justify-content: flex-end;
	}
	.footer{
		background-position: -950px;
		height: 1200px;
	}
}